<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Edit Post')"></head>

<body>

<nav th:replace="partials :: navbar"></nav>

<div class="container-fluid">
	<h3>Edit Post</h3>
	<form th:action="'/posts/' + ${post.id} + '/edit'" method="post" th:object="${post}">
		Post title:
		<input th:field="*{title}" />
		<br />
		Description:
		<textarea th:field="*{body}" />
		<br />
		<input type="submit" />
	</form>
</div> <!-- close container div -->

<footer th:replace="partials :: footer"></footer>
</body>
</html>
